{% extends 'base/base.html' %}

{% block content %}
    <div class="plan">
        {% if alumno.activo %}
            <div class="col-xs-12 toppad">
                <div class="table-responsive">
                    <h2>Plan de Estudio: {{ plan }}</h2>
                    <table class="table">
                        <h3>Evaluaciones</h3>
                        <a class="btn btn-sm btn-primary pull-right" href="{{ url }}/linea/{{ linea.pk }}/evaluacion/agregar" role="button">Agregar Evaluacion</a>
                        <thead>
                            <tr>
                                <th>Actividad</th>
                                <th>Finalizado</th>
                                <th>Evaluacion Inicial</th>
                                <th>Evaluacion Media</th>
                                <th>Evaluacion Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for evaluacion in evaluaciones %}
                                <tr>
                                    <td>{{ evaluacion.actividad }}</td>
                                    <td>{{ evaluacion.finalizado }}</td>
                                    <td>{{ evaluacion.evaluacionInicial }}</td>
                                    <td>{{ evaluacion.evaluacionMedia }}</td>
                                    <td>{{ evaluacion.evaluacionFinal }}</td>
                                    <td><a class="btn btn-sm btn-primary" href="{{ url }}/linea/{{ linea.pk }}/evaluacion/{{ evaluacion.pk }}/editar" role="button">Editar</a></td>
                                    <td><a class="btn btn-sm btn-danger" href="{{ url }}/linea/{{ linea.pk }}/evaluacion/{{ evaluacion.pk }}/eliminar" role="button">Eliminar</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
